.Landingpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ant-image {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.ant-input-search {
  width: 700px !important;
}
.cityHighlight {
  font-weight: bold;
}
.companyDescription {
  color: white;
  display: flex;
  margin-top: 2rem;
  text-align: center;
  font-size: 2.6rem;
}
/* .ant-popover {
  width: 30%;
  max-height: 200px;
  overflow-y: scroll;
  left: 100%;
  top: 100%;
  transform-origin: 50% -4 px;
}
.ant-card {
  display: flex !important;
  width: 100%;
} */
.ant-card {
  height: 20px;
}
.ant-popover::-webkit-scrollbar {
  display: none;
}
