.Landingpage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  width: 100vw;
}

.companyTitle {
  font-size: 90px;
  font-family: -webkit-body;
  color: #ffffff;
  margin-bottom: -50px;
}

.bg .ant-image {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}
.ant-input-search {
  width: 50% !important;
}
.cityHighlight {
  font-weight: bold;
}
.companyDescription {
  color: white;
  display: flex;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.9rem;
}

.ant-popover::-webkit-scrollbar {
  display: none;
}

.ant-popover-inner-content {
  display: flex;
  flex-direction: column;
}
.ant-popover {
  position: absolute;
  width: 500px;
  max-height: 175px;
  overflow-y: scroll;
  left: 50%;
  top: 57%;
  transform-origin: 50% -4 px;
}
.cardHolder {
  display: flex;
  flex-direction: column;
}
.card .ant-card {
  display: flex;
  width: 100% !important;
  flex-direction: row;
}
.card .ant-card-cover {
  height: 100px;
  width: 100px;
  display: grid;
  align-items: center;
}
