.cardHolderInfo {
  display: flex;
}
.cardHolderInfo .ant-card-cover img {
  height: 150px;
}
.rateaVotes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
