.cardHolderInfo {
  display: flex;
}
.cardHolderInfo .ant-card-cover img {
  height: 150px;
}
.rateaVotes {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cart_button {
  display: flex;
  justify-content: space-between;
}
.cart_button_plus {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}
.cart_button_minus {
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
}
.cart_button_number {
  border-radius: 1px;
}
