.NavBarPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.titleNavName {
  font-size: x-large;
  font-family: "Zen Antique script=latin rev=2";
  font-weight: 500 !important;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bg .ant-image {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.ant-input-search {
  width: 700px !important;
}
.cityHighlight {
  font-weight: bold;
}
.companyDescription {
  color: white;
  display: flex;
  margin-top: 2rem;
  text-align: center;
  font-size: 2.6rem;
}

.ant-popover::-webkit-scrollbar {
  display: none;
}

.ant-popover-inner-content {
  display: flex;
  flex-direction: column;
}
.ant-popover {
  position: absolute;
  width: 500px;
  max-height: 175px;
  overflow-y: scroll;
  left: 50%;
  top: 57%;
  transform-origin: 50% -4 px;
}
.cardHolder {
  display: flex;
  flex-direction: column;
}
.navCard .ant-card {
  display: flex;
  width: 100% !important;
  flex-direction: row;
}
.navCard .ant-card-cover {
  height: 68px;
  width: 72px;
}
