.resortPageHeaderImageFolder {
  display: grid;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  gap: 20px;
  margin: 0 150px;
}
.firstImage {
  grid-row: span 2;
  display: grid;
  align-content: center;
  justify-content: center;
}
.secondImage .thirdImage .fourImage .fiveImage {
  display: grid;
  align-content: center;
  justify-content: center;
}
.firstImage > img {
  width: 630px;
}
.secondImage > img {
  width: 300px;
}
.thirdImage > img {
  width: 300px;
}
.fourImage > img {
  width: 300px;
}
.fiveImage > img {
  width: 300px;
}
.align:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
